
/* 


/* 

    COEUR PRESETS, VARIABLES, and OVERRIDES

 */



$use-cssvars: false;
$use-colorate: true;

$height-input: 48px; //inherit; // coeur sets a height limit on inputs, but we don't want that here

/* 

  IMPORT COEUR HERE
  - don't use nuxt, it messes w/ default variables & cascading

 */


// @import '../../node_modules/coeur/styles/index.scss';

// selective import for space saving
@import '../../node_modules/coeur/styles/_utils.scss';
@import '../../node_modules/coeur/styles/_heart.scss';





/* 

  Default variable overrides
  - for buttons, etc.

 */



$sizes: (
  size-diff: 0,
  size: 18px,
  lineheight: 31px,

  font-large: 19px,

  size-mobile: 19px,
  size-mobile-input: 24px,
  line-height-mobile: 26px,

  size-title: 16px,
  lineheight-title: 16px*1.2,

  // roomier copy for article pages
  size-copy: 16px,
  size-copy-lh: 24px,

  copy-large: 18px,
  copy-large-lh: 28px,

  opacity-expired: 0.5,

  z-top: 90,
  z-popup: 100,
 
) !default;

@include addtheme($sizes);


$size: usetheme(size); // 16px;
$font-lineheight: usetheme(lineheight); // 24px;
// $font-size-base: 18px;
$font-small: usetheme(font-small); // $size - 2px;
$font-large: usetheme(font-large); // $size + 2px;
// $offset: 5px;
$z-popup: 100; // 
$z-top: 90;

$size-diff: usetheme(size-diff) !default;      // default: 0; in case we’re not using base16, used for some edge cases / alignment
$size: usetheme(size) - $size-diff !default;   // 16px default; // based on 4*4
$sizeline: usetheme(lineheight); // $size * 1.5 !default;               // baseline; base lineheight; line-heights follow 1.5 rule
$baseline: $sizeline;



/* 

  COLOR MANAGEMENT

 */



$colors: (
  warning: #F53232,
  brand-orange: #FB9E1A,
); 
@include addtheme($colors);


// generated w/ https://palx.jxnblk.com/ and FFA31A

// iVom Brand: 1e95dc;
$colors-brand: (
  brand: #1e95dc, // dark blue
  brand-copy: #204065,
  brand-active: #065fb1,
  brand-red: #b90236,
  background-light: #E7FBFF,
  background-white: #FAFAFA,
  brand-background: #374f6a,
);

@include addtheme($colors-brand);
@include colorate($colors-brand);






// https://geenes.app/export/scss?a=Cod%20Gray&a900=070707&a800=1D1D1D&a600=4f4f4f&a300=888888&a80=c0c0c0&a20=efefef
$colors-mono: (
  mono-900: #070707,
  mono-800: #1D1D1D,
  mono-600: #4f4f4f,
  mono-300: #888888,
  mono-80: #c0c0c0,
  mono-20: #efefef,

  mono-copy: #4f4f4f,
);
@include addtheme($colors-mono);
@include colorate($colors-mono);


._color-brand { color: usetheme(brand); }
._color-active { color: usetheme(brand-active); }


@include addtheme($colors_); // merge settings colors into working theme 
$colorMap: colorTintMap($colors);

$context: (
  main: usetheme(brand),
  secondary: usetheme(mono-600),
  active: usetheme(brand-active),
  active-dark: usetheme(tertiary-700),

  links: usetheme(brand-active),
  hover: usetheme(brand-red),
  links-decoration: usetheme(brand-active),
  highlight: usetheme(secondary-300),
  

  body: usetheme(brand-copy),
  body-bg: usetheme(brand-background),
  copy: usetheme(brand-copy),
  copy-gray: usetheme(mono-copy),

  bg: usetheme(white, $colors_),
  bg-white: usetheme(white, $colors_),
  bg-purewhite: usetheme(purewhite, $color-presets_),
  bg-silver: usetheme(silver-light, $colors_),
  bg-lighter: usetheme(silver-lighter, $colors_),

  btn-active: usetheme(brand-dark, $colors),
  // bg-blue: usetheme(blue-dark, $colors_),
  // bg-blue-silver: usetheme(blue-silver, $colors),
  // tbd refactor later
  // blue: usetheme(blue, $colors_), // useful for alert-signup, when a blue color needed (prb needs fix later)
  // white: usetheme(white, $colors_), // contextually useful for text on dark backgrounds

  card: usetheme(silver-light, $colors_),

  // alert-color-cta: usetheme(teal_dull, $colors),
  alert: usetheme(warning, $colors),
  success: usetheme(secondary-500),
  warning: usetheme(quarternary),
  info: usetheme(_brown, $colors_),
  danger: usetheme(red, $colors_),
  disabled: usetheme(silver, $colors_),
  transparent: usetheme(transparent, $colors_),
);

@include addtheme($context);
// @include colorate($context_);




// color overrides / legacy
$color-active: usetheme(brand-active);
$color-hover: usetheme(brand-active);

// button defaults
$button-color-disabled: usetheme(disabled);
$button-color-disabled-text: usetheme(gray-light, $colors_);


// $button-color-main: usetheme(brand-active);


@import '../../node_modules/coeur/styles/_head.scss';

// @import '../../node_modules/coeur/styles/_neck.scss';
@import '../../node_modules/coeur/styles/_neck-buttons.scss';
@import '../../node_modules/coeur/styles/_neck-layout.scss';
@import '../../node_modules/coeur/styles/_neck-design.scss';
@import '../../node_modules/coeur/styles/_neck-links.scss';
@import '../../node_modules/coeur/styles/_neck-code.scss';

// @import '../../node_modules/coeur/styles/_body.scss';
@import '../../node_modules/coeur/styles/_body-card.scss';
@import '../../node_modules/coeur/styles/_body-forms';  
@import '../../node_modules/coeur/styles/_body-tag';  
@import '../../node_modules/coeur/styles/_body-table';  
@import '../../node_modules/coeur/styles/_body-buttonGroups';  

// re-cascade
@import '../../node_modules/coeur/styles/_head-helpers.scss';





/* latin-ext */
// @font-face {
//   font-family: Baruta;
//   font-style: normal;
//   font-weight: 400;
//   src: url(/fonts/rns-baruta-black/RNS-B.ttf) format("truetype");
//   // src: local('Baruta') local('RNS Baruta Black'), url('/fonts/rns-baruta-black/RNS-B.ttf') format('truetype');
// }


$font-sans: "Source Sans Pro", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Encode Sans", "Open Sans", "Oxygen-Sans", Helvetica, arial, sans-serif;;
%font-mono,
._font-mono {
  font-family: Courier, Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', monospace;
} ._font-mono, ._font-code { @extend %font-mono; }


%font-sans, ._font-sans,
%font-basic, ._font-basic {
  font-family: $font-sans;
  // @extend %font-sans;
}

%font-serif,
._font-serif {
  font-family: 'Georgia', serif;
}

%font-display,
._font-display {
  // font-family: 'Spartan', sans-serif;
  font-family: $font-sans;
}

._border-solid {
  border-style: solid;
}



$shadows__: (
  shadow-2: 0 1px 4px hsla(0, 0%, 0%, 0.18),
  shadow-3: 0 2px 8px hsla(0, 0%, 0%, 0.18),
  shadow-4: 0 4px 16px hsla(0, 0%, 0%, 0.18),
  shadow-5: 0 8px 24px hsla(0, 0%, 0%, 0.18),
  shadow-6: 0 16px 36px hsla(0, 0%, 0%, 0.18),
) !default;

._shadow-2 {
  box-shadow: usetheme(shadow-2, $shadows__);
}
._shadow-3 {
  box-shadow: usetheme(shadow-3, $shadows__);
}
._shadow-4 {
  box-shadow: usetheme(shadow-4, $shadows__);
}
._shadow-5 {
  box-shadow: usetheme(shadow-5, $shadows__);
}
._shadow-6 {
  box-shadow: usetheme(shadow-6, $shadows__);
}





$inset__: (
  inset-2: inset 0 2px 0px hsla(0, 0%, 0%, 0.1),
  inset-3: inset 0 2px 2px hsla(0, 0%, 0%, 0.15),
  inset-4: (inset 0 -2px 0 hsla(0, 0%, 100%, 0.14), inset 0 2px 2px hsla(0, 0%, 0%, 0.1)),
  // inset-5: inset 0 0 0 1000px hsla(0, 0%, 0%, 0.14),
  // inset-6: inset 0 0 0 1000px hsla(0, 0%, 0%, 0.24),
) !default;

._inset-2 {
  box-shadow: usetheme(inset-2, $inset__);
}
._inset-3 {
  box-shadow: usetheme(inset-3, $inset__);
}
._inset-4 {
  box-shadow: usetheme(inset-4, $inset__);
}





